<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baas.securities.repository.dao.TransactionDao">

    <insert id="save" parameterType="com.baas.securities.repository.entity.Transaction">
        INSERT INTO transactions (
            id, account_id, transaction_type, amount, status,
            created_at, completed_at, order_id, fail_reason,
            relative_account_number, relative_account_username
        ) VALUES (
                     #{id}, #{accountId}, #{transactionType}, #{amount}, #{status},
                     #{createdAt}, #{completedAt}, #{orderId}, #{failReason},
                     #{relativeAccountNumber}, #{relativeAccountUsername}
                 )
    </insert>

    <select id="findAllTransactionOrder" resultMap="transactionOrder">
        select t.id, transaction_type, amount, status, t.completed_at, t.fail_reason, symbol, quantity, price
        from transactions t join orders o on t.order_id = o.id
        where t.account_id = #{accountId}
        and (transaction_type like 'SELL' or transaction_type like 'BUY')
        <if test=" startDate != null and endDate != null">
            and t.completed_at <![CDATA[>=]]> #{startDate} and t.completed_at <![CDATA[<=]]> #{endDate}
        </if>
        order by t.completed_at desc;
    </select>

    <select id="findAllTransactionRelative" resultType="TransactionRelative">
        select id, transaction_type, amount, status, completed_at, fail_reason, relative_account_number, relative_account_username
        from transactions
        where account_id = #{accountId}
        and (transaction_type = 'DEPOSIT' or transaction_type = 'WITHDRAW');
    </select>

    <resultMap id="transactionOrder" type="TransactionOrder">
        <id column="id" property="id"/>
        <result column="transaction_type" property="transactionType"/>
        <result column="amount" property="amount"/>
        <result column="status" property="status"/>
        <result column="completed_at" property="completedAt"/>
        <result column="fail_reason" property="failReason"/>
        <result column="symbol" property="symbol"/>
        <result column="quantity" property="quantity"/>
        <result column="price" property="price"/>
    </resultMap>
</mapper>