<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baas.securities.repository.dao.UserDao">

    <select id="findByEmail" resultType="com.baas.securities.dto.UserDto">
        SELECT
            id,
            email,
            name,
            role,
            oauth_provider as oauthProvider,
            oauth_id as oauthId,
            phone_number as phoneNumber,
            created_at as createdAt,
            last_login as lastLogin  FROM users
        WHERE email = #{email}
    </select>

    <insert id="save" parameterType="com.baas.securities.dto.UserDto">
        INSERT INTO users (
            id, email, name, role, oauth_provider, oauth_id, phone_number, created_at, last_login ) VALUES (
                                                                                                               #{id}, #{email}, #{name}, #{role}, #{oauthProvider}, #{oauthId}, #{phoneNumber}, #{createdAt}, #{lastLogin} )
    </insert>

    <update id="update" parameterType="com.baas.securities.dto.UserDto">
        UPDATE users
        SET
            name = #{name},
            role = #{role},
            oauth_provider = #{oauthProvider},
            oauth_id = #{oauthId},
            phone_number = #{phoneNumber},
            created_at = #{createdAt},
            last_login = #{lastLogin}
        WHERE id = #{id}
    </update>

</mapper>