<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baas.bank.auth.mapper.AuthorizationMapper">

    <insert id="saveOrUpdate" parameterType="com.baas.bank.oauth2.dto.AuthorizationDto">
        MERGE INTO oauth2_authorization (
            id, registeredClientId, principalName, authorizationGrantType,
            authorizedScopes, attributes, state, authorizationCodeValue, authorizationCodeIssuedAt,
            authorizationCodeExpiresAt, authorizationCodeMetadata, accessTokenValue, accessTokenIssuedAt,
            accessTokenExpiresAt, accessTokenMetadata, accessTokenType, accessTokenScopes,
            refreshTokenValue, refreshTokenIssuedAt, refreshTokenExpiresAt, refreshTokenMetadata,
            oidcIdTokenValue, oidcIdTokenIssuedAt, oidcIdTokenExpiresAt, oidcIdTokenMetadata,
            oidcIdTokenClaims, userCodeValue, userCodeIssuedAt, userCodeExpiresAt, userCodeMetadata,
            deviceCodeValue, deviceCodeIssuedAt, deviceCodeExpiresAt, deviceCodeMetadata
            )
            KEY (id)
        VALUES (#{id}, #{registeredClientId}, #{principalName}, #{authorizationGrantType},
                #{authorizedScopes, jdbcType=VARCHAR}, #{attributes, jdbcType=VARCHAR}, #{state, jdbcType=VARCHAR},
                #{authorizationCodeValue, jdbcType=VARCHAR}, #{authorizationCodeIssuedAt},
                #{authorizationCodeExpiresAt},
                #{authorizationCodeMetadata, jdbcType=VARCHAR},
                #{accessTokenValue, jdbcType=VARCHAR}, #{accessTokenIssuedAt}, #{accessTokenExpiresAt},
                #{accessTokenMetadata, jdbcType=VARCHAR}, #{accessTokenType, jdbcType=VARCHAR},
                #{accessTokenScopes, jdbcType=VARCHAR},
                #{refreshTokenValue, jdbcType=VARCHAR}, #{refreshTokenIssuedAt}, #{refreshTokenExpiresAt},
                #{refreshTokenMetadata, jdbcType=VARCHAR},
                #{oidcIdTokenValue, jdbcType=VARCHAR}, #{oidcIdTokenIssuedAt}, #{oidcIdTokenExpiresAt},
                #{oidcIdTokenMetadata, jdbcType=VARCHAR}, #{oidcIdTokenClaims, jdbcType=VARCHAR},
                #{userCodeValue, jdbcType=VARCHAR}, #{userCodeIssuedAt}, #{userCodeExpiresAt},
                #{userCodeMetadata, jdbcType=VARCHAR},
                #{deviceCodeValue, jdbcType=VARCHAR}, #{deviceCodeIssuedAt}, #{deviceCodeExpiresAt},
                #{deviceCodeMetadata, jdbcType=VARCHAR})
    </insert>

    <delete id="deleteById" parameterType="string">
        DELETE
        FROM oauth2_authorization
        WHERE id = #{id}
    </delete>

    <select id="findById" parameterType="string" resultType="AuthorizationDto">
        SELECT *
        FROM oauth2_authorization
        WHERE id = #{id}
    </select>

    <select id="findByState" parameterType="string" resultType="com.baas.bank.oauth2.dto.AuthorizationDto">
        SELECT *
        FROM oauth2_authorization
        WHERE state = #{state}
    </select>

    <select id="findByAuthorizationCodeValue" parameterType="string"
            resultType="com.baas.bank.oauth2.dto.AuthorizationDto">
        SELECT *
        FROM oauth2_authorization
        WHERE authorizationCodeValue = #{token}
    </select>

    <select id="findByAccessTokenValue" parameterType="string"
            resultType="com.baas.bank.oauth2.dto.AuthorizationDto">
        SELECT *
        FROM oauth2_authorization
        WHERE accessTokenValue = #{token}
    </select>

    <select id="findByRefreshTokenValue" parameterType="string"
            resultType="com.baas.bank.oauth2.dto.AuthorizationDto">
        SELECT *
        FROM oauth2_authorization
        WHERE refreshTokenValue = #{token}
    </select>

    <select id="findByOidcIdTokenValue" parameterType="string"
            resultType="com.baas.bank.oauth2.dto.AuthorizationDto">
        SELECT *
        FROM oauth2_authorization
        WHERE oidcIdTokenValue = #{token}
    </select>

    <select id="findByUserCodeValue" parameterType="string" resultType="com.baas.bank.oauth2.dto.AuthorizationDto">
        SELECT *
        FROM oauth2_authorization
        WHERE userCodeValue = #{token}
    </select>

    <select id="findByDeviceCodeValue" parameterType="string"
            resultType="com.baas.bank.oauth2.dto.AuthorizationDto">
        SELECT *
        FROM oauth2_authorization
        WHERE deviceCodeValue = #{token}
    </select>

    <select id="findByStateOrAuthorizationCodeValueOrAccessTokenValueOrRefreshTokenValueOrOidcIdTokenValueOrUserCodeValueOrDeviceCodeValue"
            parameterType="string"
            resultType="com.baas.bank.oauth2.dto.AuthorizationDto">
        SELECT *
        FROM oauth2_authorization
        WHERE state = #{token}
           OR authorizationCodeValue = #{token}
           OR accessTokenValue = #{token}
           OR refreshTokenValue = #{token}
           OR oidcIdTokenValue = #{token}
           OR userCodeValue = #{token}
           OR deviceCodeValue = #{token}
    </select>

</mapper>