<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baas.bank.auth.mapper.ConsentMapper">

    <insert id="saveOrUpdate" parameterType="com.baas.bank.oauth2.dto.ConsentDto">
        MERGE INTO oauth2_consent (registeredClientId, principalName, authorities)
            KEY (registeredClientId, principalName)
        VALUES (#{registeredClientId}, #{principalName}, #{authorities, jdbcType=VARCHAR})
    </insert>

    <delete id="deleteByRegisteredClientIdAndPrincipalName">
        DELETE
        FROM oauth2_consent
        WHERE registeredClientId = #{registeredClientId}
          AND principalName = #{principalName}
    </delete>

    <select id="findByRegisteredClientIdAndPrincipalName" resultType="com.baas.bank.oauth2.dto.ConsentDto">
        SELECT *
        FROM oauth2_consent
        WHERE registeredClientId = #{registeredClientId}
          AND principalName = #{principalName}
    </select>

</mapper>