<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baas.bank.auth.mapper.RegisterMapper">

    <insert id="saveOrUpdate" parameterType="com.baas.bank.oauth2.dto.RegisterDto">
        MERGE INTO oauth2_register (
            id, clientId, clientIdIssuedAt, clientSecret, clientSecretExpiresAt,
            clientName, clientAuthenticationMethods, authorizationGrantTypes, redirectUris,
            postLogoutRedirectUris, scopes, clientSettings, tokenSettings
            )
            KEY (id)
        VALUES (#{id}, #{clientId}, #{clientIdIssuedAt}, #{clientSecret}, #{clientSecretExpiresAt},
                #{clientName}, #{clientAuthenticationMethods}, #{authorizationGrantTypes}, #{redirectUris},
                #{postLogoutRedirectUris}, #{scopes}, #{clientSettings, jdbcType=VARCHAR},
                #{tokenSettings, jdbcType=VARCHAR})
    </insert>

    <select id="findById" parameterType="string" resultType="com.baas.bank.oauth2.dto.RegisterDto">
        SELECT *
        FROM oauth2_register
        WHERE id = #{id}
    </select>

    <select id="findByClientId" parameterType="string" resultType="com.baas.bank.oauth2.dto.RegisterDto">
        SELECT *
        FROM oauth2_register
        WHERE clientId = #{clientId}
    </select>

</mapper>